@font-face {
  font-family: 'Metropolis';
  src: url('./assets/fonts/Metropolis-Regular.eot');
  src: local('Metropolis Regular'), local('Metropolis-Regular'),
      url('./assets/fonts/Metropolis-Regular.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/Metropolis-Regular.woff2') format('woff2'),
      url('./assets/fonts/Metropolis-Regular.woff') format('woff'),
      url('./assets/fonts/Metropolis-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('./assets/fonts/Metropolis-Bold.eot');
  src: local('Metropolis Bold'), local('Metropolis-Bold'),
      url('./assets/fonts/Metropolis-Bold.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/Metropolis-Bold.woff2') format('woff2'),
      url('./assets/fonts/Metropolis-Bold.woff') format('woff'),
      url('./assets/fonts/Metropolis-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('./assets/fonts/Metropolis-Thin.eot');
  src: local('Metropolis Thin'), local('Metropolis-Thin'),
      url('./assets/fonts/Metropolis-Thin.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/Metropolis-Thin.woff2') format('woff2'),
      url('./assets/fonts/Metropolis-Thin.woff') format('woff'),
      url('./assets/fonts/Metropolis-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

::selection {
  color: #fff;
  background: #439595;
}

html {
  font-size: 8px;
}
body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Metropolis';  
  background: linear-gradient(90deg, #003E3E 40%, rgb(29, 29, 29) 75%);
  backdrop-filter: blur(40rem);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar.banner {
  display: none;
}

.section {
  padding-left: 4rem;
  padding-right: 4rem;
}

.hero {
  font-family: 'Metropolis';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-top: 10rem;
  padding-bottom: 10rem;
  color: white;
  position: absolute;
  top: 0;
  width: 100%;
}

.hero__background {
  filter: brightness(0.4) blur(18px);
  min-height: 100vh;
  background-image: url('assets/hero.png');
  background-size: cover;
  background-repeat: no-repeat;
  transform: skewY(12deg);
  
}

.hero .hero__logo {
  width: 20rem;
}

.hero .hero__title {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.hero .hero__title h1 {
  font-size: 4rem;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.hero .hero__title h2 {
  font-size: 4rem;
  line-height: 1;
  text-align: center;
  margin: 0;
}

.hero .hero__btn {
  background: linear-gradient(to right, #697E7F 0%, #190634 100%);
  width: 100%;
  padding: 2rem;
  border: none;
  border-radius: 2rem;
  color: #DFCBD0;
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
  margin-bottom: 2rem;
  transition: all .2s;
}
.hero .hero__btn:hover {
  cursor: pointer;
  border-bottom: 4px solid #003E3E;
  transform: translateY(-4px);
}

.hero .hero__btn .chevron-right {
  margin-left: 2rem;
  transform: rotate(-90deg);
}

.hero p {
  font-size: 1.5rem;
  text-align: center;
}

.hero .hero__scroll {
  text-align: center;
  margin-top: 20rem;
}

.hero .hero__scroll .scroll{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero .hero__scroll .scroll:hover{
  cursor: pointer;
}

.hero .hero__scroll .scroll .chevron{
  transition: all .3s ease-out;
  transform: translateY(0);
}

.hero .hero__scroll .scroll .ball{
  transition: all .5s ease-out;
  transform: translateY(0);
}

.hero .hero__scroll .scroll:hover .ball{
  transition: all .5s ease-out;
  transform: translateY(8px);
}

.hero .hero__scroll .scroll:hover .chevron{
  transition: all .3s ease-out;
  transform: translateY(8px);
}

.hero .hero__scroll p {
  font-weight: 200;
}

.tutorial {
  font-family: 'Metropolis';
  margin-top: 20rem;
  margin-bottom: 20rem;
  color: #fff;
}

.tutorial .carousel {
  color: #fff;
}

.tutorial .carousel .carousel-inner {
  text-align: center;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.tutorial .tutorial__buttons .tutorial__button {
  background-color: #203D3D;
  color: #fff;
  font-size: 2rem;
  border: none;
  width: 100%;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 5px 4px rgba(32, 61, 61, 0.44);
  transition: box-shadow .2s;
}
.tutorial .tutorial__buttons .tutorial__button:not(:last-of-type) {
  margin-bottom: 3rem;
}

.tutorial .tutorial__buttons .tutorial__button:hover {
  box-shadow: 0px 0px 4px 3px rgba(197, 255, 229, 0.80);
}

.tutorial .tutorial__buttons .tutorial__button.active {
  font-weight: 600;
  background-color: #c5ffe5;
  color: #203D3D;
}

.tutorial .carousel .carousel-inner .carousel__video {
  width: 100%;
}

.tutorial .carousel .carousel-inner .carousel__content .carousel__list {
  text-align: center;
  padding: 0%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  counter-reset: number;
  list-style-type: none;
}

.tutorial .carousel .carousel-inner .carousel__content .carousel__list .carousel__item::before{
  counter-increment: number;
  content: counter(number)"\a0";
  font-size: 5rem;
}

.tutorial .carousel .carousel-inner .carousel__content .carousel__list .carousel__item {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.tutorial .carousel .carousel-inner .carousel__content .carousel__list .carousel__item .item__title {
  font-size: 2.5rem;
}

.tutorial .carousel .carousel-inner .carousel__content .carousel__list .carousel__item .item__text {
  font-size: 2rem;
  line-height: 2.5rem;
}

.tutorial .carousel .carousel-inner .carousel__content .carousel__list .carousel__item .item__disclaimer {
  font-size: 2rem;
  line-height: 2.5rem;
  color: #D84F53;
}

.about {
  font-family: 'Metropolis';
  text-align: center;
  margin-top: 20rem;
  margin-bottom: 20rem;
  color: white;
  width: 100%;
}

.about .about__title {
  font-size: 4rem;
  margin-bottom: 4rem;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}

.about .about__text {
  font-size: 2rem;
  line-height: 2;
  word-spacing: 4px;
  margin-bottom: 5rem;
}

.about .about__text a {
  color: #fff;
  font-weight: 600;
  transition: letter-spacing .2s;
}

.about .about__text a:hover {
  letter-spacing: 1.5px;
}

.collection {
  font-family: 'Metropolis';
  margin-top: 10rem;
  margin-bottom: 10rem;
  color: white;
}

.collection .collection__title {
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 4rem;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}

.collection .collection__cards .card {
  background-color: #203D3D;
  border-radius: 1rem;
  box-shadow: 0px 0px 5px 3px rgba(32, 61, 61, 0.44);
}

.collection .collection__cards .card:not(:last-of-type) {
  margin-bottom: 5rem;
}

.collection .collection__cards .card .card__title {
  background-color: #C5FFE5;
  color: #1E1B1B;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
}

.collection .collection__cards .card .card__content {
  padding: 2rem;
  font-size: 2rem;
}

.faq {
  font-family: 'Metropolis';
  margin-top: 10rem;
  margin-bottom: 10rem;
  color: white;
}

.faq .faq__title {
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 4rem;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}

.faq .accordion .accordion-item {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-right: none;
  border-left: none;
}

.faq .accordion .accordion-item .accordion-header{
  padding: 2.5rem 1.5rem;
}

.faq .accordion .accordion-item button {
  background-color: transparent;
  color: #fff;
  font-size: 2rem;
}

.faq .accordion .accordion-item button::after {
  background-image: url('./assets/chevron.png');
  transform: rotate(0deg)
}

.faq .accordion .accordion-button:not(.collapsed)::after {
  background-image: url('./assets/chevron.png');
  transform: rotate(90deg)
}

.faq .accordion .accordion-item button:focus {
  box-shadow: none;
  border: none;
}

.faq .accordion .accordion-collapse .accordion-body {
  border: 1px solid #fff;
  border-bottom: none;
  padding: 3rem;
  font-size: 2rem;  
}

.faq .accordion .accordion-collapse .accordion-body a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #c5ffe5;
}

.faq .accordion .accordion-collapse .accordion-body a:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #c5ffe5;
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.faq .accordion .accordion-collapse .accordion-body a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.footer {
  font-family: 'Metropolis';
  color: #fff;
  width: 100%;
  padding-top: 10rem;
  padding-bottom: 10rem;
  text-align: center;
}

.footer .footer__logo {
  font-size: 2rem;
  padding: 2rem;
  color: rgba(255, 255, 255, 0.5);
}

.footer .footer__logo .logo {
  max-width: 12rem;
  margin-bottom: 6rem;
}

.footer .footer__logo .poweredBy {
  margin-bottom: 3rem;
}

.footer .footer__logo .poweredBy .poweredBy__link {
  color: rgba(255, 255, 255, 0.5);
  transition: color .3s;
}

.footer .footer__logo .poweredBy .poweredBy__link:hover {
  color: rgba(255, 255, 255, 0.8);
}

.footer .footer__logo .poweredBy .unique {
  margin-left: 1rem;
  width: 10rem;
  transition: fill .3s;
}

.footer .footer__logo .poweredBy .unique:hover {
  fill: rgba(255, 255, 255, 0.8);;
}

.footer .footer__link {
  font-size: 2rem;
  padding-top: 3rem;
  margin-left: 5rem;
  margin-right: 5rem;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.5);
}

.footer .footer__link ul {
  padding: 0;
  list-style: none;
}

.footer .footer__link ul li{
  padding-bottom: 3rem;
  color: #fff;
  fill: #fff;
}

.footer .footer__link ul li:hover {
  color: #c5ffe5;
  fill: #c5ffe5;
}

.footer .footer__link ul li a {
  color: inherit;
  text-decoration: none;
  transition: all .2s;
}

.footer .footer__link ul li a.link {
  color: inherit;
  text-decoration: underline;
}

.footer .footer__link .social li a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer .footer__link .social li a svg {
  fill: inherit;
  margin-left: 1rem;
}

.footer .button__container {
  grid-column: 1 / -1;
  padding-left: 5rem;
  padding-right: 5rem;
}

.footer .footer__btn {
  display: block;
  width: 100%;
  padding: 2rem 3rem;
  border: none;
  border-radius: 3rem;
  color: #DFCBD0;
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
  margin-bottom: 2rem;
  background-image: linear-gradient(to right, #697E7F 0%, #190634 100%);
  background-size: 130% 100%;
  transition: all .4s ease-in-out;
}

.footer .footer__btn:hover {
  cursor: pointer;
  background-position: 100% 0;
}

.footer .footer__btn .chevron-right {
  margin-left: 1rem;
  transform: rotate(-90deg);
}


@media screen and (min-width: 480px) { 
  .tutorial .carousel .carousel-inner .carousel__video {
    height: 30rem;
  }
}

@media screen and (min-width: 768px) {
  .section {
    padding-left: 10rem;
    padding-right: 10rem;
  }

  .tutorial .tutorial__buttons {
    display: flex;
    justify-content: space-between;
  }
  .tutorial .tutorial__buttons .tutorial__button { 
    padding: 3rem;
  }

  .tutorial .tutorial__buttons .tutorial__button:not(:last-of-type) {
    margin-bottom: auto;
    margin-right: 2rem;
  }

  .tutorial .carousel .carousel-inner .carousel__video {
    height: 50rem;
  }

  .collection .collection__cards {
    padding: 3rem 8rem;
  }

  .faq .accordion {
    padding: 3rem 8rem;
  }

  .footer .footer__link {
    margin-left: 20rem;
    margin-right: 20rem;
  }

  .footer .button__container {
    padding-left: 20rem;
    padding-right: 20rem;
  }
}

@media screen and (min-width: 1024px) {
  .navbar.banner {
    display: flex;
    float: right;
  }

  .navbar.banner .banner__btn {
    margin-top: 1rem;
    margin-right: 1rem;
    padding: 2rem 3rem;
    border: none;
    border-radius: 3rem;
    color: #DFCBD0;
    font-size: 1.5rem;
    font-weight: 800;
    text-align: center;
    text-decoration: none;
    margin-bottom: 2rem;
    background-image: linear-gradient(to right, #697E7F 0%, #190634 100%);
    background-size: 300% 100%;
    transition: all .4s ease-in-out;
  }

  .navbar.banner .banner__btn:hover {
    cursor: pointer;
    background-position: 100% 0;
  }

  .navbar.banner .banner__btn .chevron-right {
    margin-left: 1rem;
    transform: rotate(-90deg);
  }
  
  .section {
    padding-left: 20rem;
    padding-right: 20rem;
  }
  
  .hero .hero__title {
    margin-top: 8rem;
    margin-bottom: 8rem;
  }
  
  .hero .hero__title h1 {
    font-size: 7rem;
    line-height: 1;
  }
  
  .hero .hero__title h2 {
    font-size: 6rem;
    line-height: 1;
  }
  
  .hero .hero__btn {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  .hero p {
    font-size: 2rem;
  }

  .hero .hero__scroll {
    margin-top: 10rem;
  }

  .tutorial {
    margin-top: 20rem;
    margin-bottom: 20rem;
  }
  
  .tutorial .tutorial__buttons .tutorial__button {
    width: 100%;
    font-size: 2rem;
    padding: 2rem 3rem;
  }
  
  .tutorial .carousel .carousel-inner .carousel__content .carousel__list {
    text-align: left;
    margin: 5rem;
    counter-reset: number;
    list-style-type: none;
  }

  .tutorial .carousel .carousel-inner .carousel__video {
    height: 60rem;
  }

  .tutorial .carousel .carousel-inner .carousel__content .carousel__list .carousel__item {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  .tutorial .carousel .carousel-inner .carousel__content .carousel__list .carousel__item::before{
    counter-increment: number;
    content: counter(number)"\a0";
    font-size: 7rem;
    margin-right: 2rem;
  }
  
  .tutorial .carousel .carousel-inner .carousel__content .carousel__list .carousel__item {
    display: inline-grid;
    grid-template-columns: min-content min-content minmax(min-content, 1fr);
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  .tutorial .carousel .carousel-inner .carousel__content .carousel__list .carousel__item .item__title {
    font-size: 3rem;
    width: 20rem;
  }
  
  .tutorial .carousel .carousel-inner .carousel__content .carousel__list .carousel__item .item__text,
  .tutorial .carousel .carousel-inner .carousel__content .carousel__list .carousel__item .item__disclaimer {
    margin-left: 5rem;
    font-size: 2rem;
    line-height: 3rem;
  }

  .about {
    text-align: left;
  }
  .collection {
    margin-top: 20rem;
    margin-bottom: 20rem;
  }

  .collection .collection__cards {
    display: inline-flex;
    gap: 6rem;
  }
  
  .collection .collection__cards .card {
    margin: 2rem;
    width: 100%;
    margin-bottom: 0;
  }
  
  .collection .collection__cards .card:not(:last-of-type) {
    margin-bottom: 0;
  }

  .collection .collection__cards .card .card__content {
    padding: 3rem;
  }
  
  .faq .accordion{
    padding: 0;
  }
  
  .footer {
    width: 100%;
    padding-top: 4rem;
    padding-left: 20rem;
    padding-right: 20rem;
    text-align: left;
    border-top: 1px solid #fff;
    display: inline-grid;
    grid-template-columns: 2fr 1fr;
  }
  
  .footer .footer__logo {
    padding: 0;
    padding-right: 10rem;
  }
  
  .footer .footer__logo .poweredBy .poweredBy__link {
    text-decoration: none;
  }

  .footer .footer__links {
    display: inline-grid;
    gap: 1rem;
    grid-template-columns: minmax(max-content, 1fr) minmax(max-content, 2fr) minmax(max-content, 1fr);
  }

  .footer .footer__link {
    border: none;
    padding: 0;
    margin-left: 0;
    margin-right: 3rem;
  }

  .footer .footer__link .social {
    display: grid;
    grid-template-columns:  repeat(2, minmax(max-content, 1fr));
  }


  .footer .footer__link .social li a {
    display: grid;
    align-items: center;
    gap: 1rem;
    grid-template-columns:  repeat(2, minmax(min-content, 1fr));
  }
  
  .footer .footer__link .social li a svg {
    fill: inherit;
    display: grid;
    grid-template-columns:  repeat(2, minmax(min-content, 1fr));
  }
  .footer .button__container {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 1296px) { 
  .section {
    padding-left: 30rem;
    padding-right: 30rem;
  }

  .hero .hero__title {
    margin-top: 12rem;
    margin-bottom: 12rem;
  }

  .hero .hero__title h1 {
    margin-bottom: 2rem;
  }

  .hero .hero__btn {
    font-size: 2.5rem;
  }


  .hero .hero__scroll {
    margin-top: 22rem;
  }

  .about {
    padding-left: 50rem;
    padding-right: 50rem;
  }

  .tutorial .carousel .carousel-inner .carousel__content .carousel__list {
    margin: 5rem 30rem;
  }

  .tutorial .carousel .carousel-inner .carousel__video {
    height: 70rem;
  }

  .about .about__title,
  .collection .collection__title,
  .faq .faq__title {
    font-size: 5rem;
  }

  .footer {
    padding-left: 30rem;
    padding-right: 30rem;
  }
}